<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a>
          <% if (!user || user === "undefined") { %>
          <form  action="/urls/login" method="POST" style="margin:0px; margin-left:55em;display:inline">
              <button type="submit" class="btn btn-outline-dark" style="font-size: 18px; width: 5em" >Login</button>
          </form>
          <form action="/urls/register" method="POST" style="margin:0px; display:inline">
              <button type="submit" class="btn btn-outline-dark" style="font-size: 18px; width: 5em" >register</button>
          </form>
          <% } else {%>
            <form class="form-inline" action="/urls/logout" method="POST" style="margin-left:45em;">
              <div class="form-group mb-2">
                <label for="logout"></label>
                <div>Logged In As : <%= user.email %></div>
                <button type="submit" class="btn btn-outline-dark" style="margin-left: 1em;font-size:18px">Logout</button>
              </div>
            </form>
            <% } %>
        </a>
      </div>
    </div>
  </nav>
</header>